@model HelloWorld.Models.PostComment
@{
    ViewBag.Title = @Html.DisplayFor(model => model.Post.Title);
}

<link rel="stylesheet" href="../../../Content/blog.css">

<article class="post">
    <h3>@Html.DisplayFor(model => model.Post.Title)</h3>

    <p>@Html.DisplayFor(model => model.Post.Description)</p>

    <ul class="post-footer">
        <!--<time datetime="" pubdate><small>TimeTimeTime</small></time>-->
        <li><small>@Html.DisplayFor(model => model.Post.Date)</small></li>
        <li><span id="comments"><i class="fa fa-comment"></i> 20</span></li>
        <li><span><i class="fa fa-eye"></i> 1218</span></li>
    </ul>

    <ul class="post-control-panel">
        <li>@Html.ActionLink("Назад", "Index")</li>
        <li>@Html.ActionLink("Редактировать", "Edit", new { id = Model.Post.PostId })</li>
        <li>@Html.ActionLink("Удалить", "Delete", new { id = Model.Post.PostId })</li>
    </ul>

    <h5>Комментарии</h5>
  

    <form class="comment-create-form" method="post" action="@Url.Action("Create", "Comments")">
        Описание<br>
        <input type="text" name="Description"> <br>
        Id Автора<br>
        <input type="number" name="AuthorId"> <br>
        <input type="datetime" name="Date" value="@DateTime.Now"> <br>
        <input type="number" name="PostId" value="@Html.DisplayFor(model => model.Post.PostId)"> <br>
        <input type="submit" value="Добавить">
    </form>

</article>

