@model IEnumerable<HelloWorld.Models.Post>
@{
    ViewBag.Title = "Блог";
}

<link rel="stylesheet" href="../../../Content/font-awesome.css">
<link rel="stylesheet" href="../../../Content/blog.css">


<p class="post-create-button">
   @Html.ActionLink("Создать", "Create")
</p>

   
    @foreach (var item in Model)
    {
        <article class="post">
            <h3>@Html.DisplayFor(modelItem => item.Title)</h3>
            <p>@Html.DisplayFor(modelItem => item.Description)</p>
            <ul class="post-footer">
                <li><time datetime="@Html.DisplayFor(modelItem => item.Date)" pubdate><small>@Html.DisplayFor(modelItem => item.Date)</small></time></li>
                <li><span id="comments"><i class="fa fa-comment"></i> 20</span></li>
                <li><span><i class="fa fa-eye"></i> 1218</span></li>
            </ul>
            <ul class="post-control-panel">
                <li>@Html.ActionLink("Читать далее", "Details", new { id = item.PostId })</li>
                <li>@Html.ActionLink("Редактировать", "Edit", new { id = item.PostId })</li>
                <li>@Html.ActionLink("Удалить", "Delete", new { id = item.PostId })</li>
            </ul>
        </article>
    }

